#myBtn {
   /* display: none; /* Hidden by default */
   position: fixed;
   bottom: 86px;
   right: 74px;
    border: none;
    /* outline: none; */
    background-color: var(--color-corail);
    color: white;
    cursor: pointer;
    padding: 24px;
  }
  
  #myBtn:hover {
    background-color: var(--color-beige); /* Add a dark-grey background on hover */
  }
  @media (max-width: 640px) {

    /* CSS mobile ici */
  #myBtn {
    /* right: 2px; */
    top: 74px;
    width: 63px;
    bottom: unset;
    right:0;
  }
  }