


<h1>{{article.country}}</h1>
<span>{{article.dateBegin}}· {{article.dateEnd}}</span>
<img height="100" width="100" src="{{article. picture}}" alt="photo de city">
<app-button-scroll></app-button-scroll>
<h3>Le Voyage</h3>
<span>{{article.voyage}}</span>
<h3>Notre avis</h3>
<div>
   <p>Les plus</p> 
<span>{{article.positifPoint}}</span>
<p>Les moins</p>
<span>{{article.negatifPoint}}</span>
<p>Mon conseil</p>
<span>{{article.advice}}</span>
</div>

<h3>En résumé</h3>
<span>{{article.resume}}</span>

<h3>pour voyager un peu plus</h3>
<div *ngFor=" let img of article.secondaryPicture " >
  <img src="{{img}}" alt="">
</div>