<main>
<h1>{{article.country}}</h1>
<span class="date">{{article.dateBegin}}· {{article.dateEnd}}</span>
<img  src="{{article. picture}}" alt="{{article.country}}">
<app-button-scroll></app-button-scroll>
<!-- voyage -->
<app-description [title]="'le voyage'" [text]="article!.resume"></app-description>
<!-- les avis  -->

<app-review [positif]="article.positifPoint" [negatif]="article.negatifPoint" [advice]="article.advice">
</app-review>
<!-- resumé  -->
<app-description [title]="'En résumé'" [text]="article!.voyage"></app-description>
<app-to-travel-more></app-to-travel-more>

</main>