.navbar {
    padding-top: 40px;
    background-color: var(--color-beige);
    width: 80px;
    height: 100vh;
    flex-direction: column;

}

/* .bord {
    height: 200px;

} */

.carnet {
    border-block-start-width: 4px;
    border-block-start-color: black;
    writing-mode: vertical-lr;
}

.temp {
    padding-bottom: 25px;
    border-block-start-width: thick;
    writing-mode: vertical-rl;
}

li {

    list-style: none;
    font-weight: 400;
    font-size: 16px;
    transform: rotate(-180deg);

}

@media (max-width: 640px) {

    /* CSS mobile ici */
    .navbar {
        padding: 20px;
        padding-top: 0;
        height: 10vh;
        width: max-content;
        flex-direction: unset;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        transform: rotate(180deg);
        align-items: center;
   }
    a {
        font-size: 16px;
}

    .carnet {

        writing-mode: unset;
        margin-left: 193px;
    }

    .temp {
        padding-bottom: 0;
        writing-mode: unset;
    }
}