.navbar {
    padding-top: 100px;
    background-color: var(--color-beige);
    width: 80px;
    justify-content: center;

}

.navbar ul {
    height: 1466px;

}

.bord {
    height: 200px;

}

/*hr{
    width: 80px;
    margin-top: 226px;
    border-top: 1px solid black;
}*/
.carnet {
    border-block-start-width: 4px;
    border-block-start-color: black;
    writing-mode: vertical-lr;
}

.temp {
    border-block-start-width: thick;
    writing-mode: vertical-rl;
}

li {

    list-style: none;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 19px;
    writing-mode: vertical-lr;*/
    transform: rotate(-180deg);

}

@media (max-width: 640px) {

    /* CSS mobile ici */
    .navbar {
       
        height: 50px;
        width: 572px;
    }

    .navbar ul {
        height: 90px;
        display: flex;
        flex-direction: row-reverse;
        transform: rotate(180deg);

    }
   

    .carnet {
       
        writing-mode: unset; 
        margin-left: 193px;
       }
        .temp {
            writing-mode: unset;
        }
}