app-header{
    /* height: 100%; */
    position: fixed;
}
main{
    margin: 3px 120px ;

}
app-footer{
    position:initial;
}
@media (max-width: 640px) {

    /* CSS mobile ici */
    main {
        margin: 0;
    }
}