h1 {
    height: 77px;
    width: 419px;
    left: 308px;
    top: 1060px;
}

/* .voyage{
    position: fixed;
} */
.appCard {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

app-cards {
    position: relative;
}

.app {
    justify-content: space-between;
}

@media (max-width: 640px) {

    /* CSS mobile ici */
    main {
        width: 390px;
        height: 2338px;
    }

    img {
        height: 283px;
        width: 350px;
    }

    .appCard {
        display: flex;
        flex-direction: column;
    }
}