<section>
    <div class="voyage">
        <app-card-voyage></app-card-voyage>
    </div>
    <div class="cards">
    <h1>Autres Voyages</h1>
    <section class=" appCard flex">
        <div class="app flex column">
            <app-cards></app-cards>
        </div>
        <div class="app flex column">
            <app-cards></app-cards>
        </div>
        <div class="app flex column">
            <app-cards></app-cards>
        </div>
        <div class="app flex column">
            <app-cards></app-cards>
        </div>
    </section>
</div>
</section>
