h1 {
    font-size: 60px;
    padding-bottom: 30px;
    padding-top: 111px;
}


.appCard {
    width: max-content;
    display: grid;
    grid-template-columns: 60px 60px;
   
}

app-cards {
    position: relative;
}

.app {
    justify-content: space-between;
}

@media (max-width: 640px) {

    /* CSS mobile ici */
    main {
        width: max-content;
    }
    h1{
        font-size: 25px;
        padding-top: 73px;
        padding-bottom: 20px;
    }
    

    .appCard {
        display: flex;
        flex-direction: column;
    }
}