.card {
    align-items: flex-end;

}

.card img {
    position: relative;
    height: 81vh;
    width: 500vw;
}

.detail {
    font-size: 20px;
    background-color: var(--color-corail);
    font-size: 15px;
    opacity: 0.8;
    position: absolute;
    padding: 15px;
    left: 159px;
    right: 159px;
    bottom: 93px;
}

.detail p {
    font-size: 21px;
    color: var(--color-white);
}

@media (max-width: 640px) {

    /* CSS mobile ici*/

    .card img {

        height: min-content;
        width: min(406px, 90%);
        top: 56px;
        padding: 0;
        right: 22px;
    }

    .detail {
        left: 18px;
        right: 18px;
        top: 396px;
        bottom: 313px;

    }
}