.card {
    align-items: flex-end;
}
img {
    position: relative;
    height: 50vh;
    width: 40vw;
  }
a{
    padding-bottom: 48px;

}
.detailDate {
    justify-content: space-around;
    font-size: 20px;
    background-color: var(--color-corail);
    opacity: 0.8;
    right: 0px;
    left: 0px;
    position: absolute;
    
}
.detailDate p{
    font-size: 21px;
    color: var(--color-white);
}
.datecomp{
    margin-left: 249px;
}
@media (max-width: 640px) {

    /* CSS mobile ici */

    .card img {
        width: min(406px, 90%);
        top: 56px;
    }

    .detail {
        left: 18px;
        right: 26px;
        top: 373px;
        bottom: 287px;

    }
.articl{
    flex-direction: column;
    gap:20px;
}
.detailDate p{
    font-size: 13px;
}
/* .detailDate{
    right:150px;
} */

}