    <article *ngFor="let voyage of voyageAdecouvrir" class="flex">
        <a routerLink="/article/{{voyage.id}}"  class="card flex">
        <img src="{{voyage.picture}}" alt="{{voyage.country}}">
            <div class=" detailDate flex">
                <div class="flex column">
                    <p>{{voyage.country}}</p>
                    <p>{{voyage.city}}</p>
                </div>
                <!-- <hr> -->
                <div class=" datecomp flex column">
                    <p>{{voyage.dateBegin}}</p>
                    <p> {{voyage.dateEnd}}</p>
                </div>
            </div>
        </a>
    </article>
   
