.card {
    align-items: flex-end;

}

.card img {
    position: relative;
    height: 400px;
    width: min(500px, 90%);
   
}
hr{
    height: 100%;
    margin-right: -468px;
    border: solid 0.5px white;
}
.detail {
    background-color: var(--color-corail);
    opacity: 0.8;
    position: absolute;
    left: 15%;
    right: 6.5%;
    top: 97.65%;
    bottom: -7.7%;
}
.detail p{
    font-size: 21px;
    color: var(--color-white);
}